---
import Layout from "../layouts/Layout.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import rayosImg from "../assets/img/rayos.jpg";
import pcImg from "../assets/img/pc.jpg";
---

<Layout title="Timber-Tec">
  <Navbar />
  <main>
    <!-- Hero principal -->
    <section id="hero" class="hero">
      <div class="container pb-5">
        <div class="row align-items-center justify-content-center g-5">
          <!-- Columna Izquierda: Título y Descripción -->
          <div class="col-lg-6 text-center text-lg-start bg-dark bg-opacity-50 p-4 rounded">
            <h1 id="miFirma" class="display-3">Timber-Tec</h1>
            <p class="lead">
              Esta página está pensada para facilitarte herramientas prácticas y rápidas. Aquí encontrarás utilidades
              como la calculadora de consumo eléctrico y la calculadora de presupuesto para PC. Todo en un mismo lugar,
              accesible y optimizado para que ahorres tiempo.
            </p>
          </div>
          <!-- Columna Derecha: Tabs -->
          <div class="col-lg-6">
            <div class="card text-bg-dark border-light">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" id="hero-tabs" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button
                      class="nav-link active"
                      id="consumo-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#consumo-pane"
                      type="button"
                      role="tab"
                      aria-controls="consumo-pane"
                      aria-selected="true">Consumo</button
                    >
                  </li>
                  <li class="nav-item" role="presentation">
                    <button
                      class="nav-link"
                      id="presupuesto-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#presupuesto-pane"
                      type="button"
                      role="tab"
                      aria-controls="presupuesto-pane"
                      aria-selected="false">Presupuesto</button
                    >
                  </li>
                </ul>
              </div>
              <div class="card-body tab-content" id="hero-tabs-content">
                <div
                  class="tab-pane fade show active p-4 rounded tab-pane-background"
                  id="consumo-pane"
                  role="tabpanel"
                  aria-labelledby="consumo-tab"
                  tabindex="0"
                  style={`--bg-image: url(${rayosImg.src});`}
                >
                  <h5 class="card-title">Consumo eléctrico en Watts</h5>
                  <p class="card-text">
                    Valor del consumo de artículos eléctricos y electrónicos. Este programa te da el valor del dinero a
                    pagar en la factura, diariamente, a fin de mes y dentro de un año, para tener un panorama claro de
                    cuánto dinero se consume en operación.
                  </p>
                  <a href="consumo/" class="btn btn-warning">Ir a la Calculadora</a>
                </div>
                <div
                  class="tab-pane fade p-4 rounded tab-pane-background"
                  id="presupuesto-pane"
                  role="tabpanel"
                  aria-labelledby="presupuesto-tab"
                  tabindex="0"
                  style={`--bg-image: url(${pcImg.src});`}
                >
                  <h5 class="card-title">Presupuesto para armar PC por piezas</h5>
                  <p class="card-text">
                    Programa inspirado en la idea de @HeLion1ero. Con base en la cantidad de dinero disponible, te da un
                    valor aproximado de gasto por componente para tener un equilibrio en la compra de las piezas según
                    diferentes presupuestos y usos.
                  </p>
                  <a href="presupuesto/" class="btn btn-warning">Ir al Presupuesto</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Componentes -->
    <ThemeToggle />
    <Footer />
  </main>
</Layout>
