@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
}
/* AlexBrush (solo Regular) */
@font-face {
  font-family: "AlexBrush";
  src: url("/fonts/AlexBrush/AlexBrush-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Firma*/
#miFirma {
  font-family: "AlexBrush", cursive;
}

/* General */
body {
  font-family: "Nunito", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-variation-settings: "wdth" 100 !important;
}

/* Alinear texto en parrafos */
p {
  margin-block: 1em;
  margin-block: 1lh;
}

/* Margen inferior del boton dia y noche */
.custom-margin {
  margin-bottom: 6rem;
}

/* Switch dia y noche */
.form-switch-lg .form-check-input {
  width: 3rem;
  height: 1.5rem;
}

.form-switch-lg .form-check-input:checked {
  background-color: #0d6efd;
}

.form-switch-lg .form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.theme-icon-active {
  fill: currentColor;
}

.theme-dark .theme-icon-active {
  color: white;
}

/* RGB */
.glow::before,
glow::after {
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  background-size: 400%;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  z-index: -1;
  animation: animate 20s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.glow::before {
  filter: blur(20px);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.glow:hover::before {
  opacity: 100;
}

/* Tamaño del reproductor */
lite-youtube {
  width: 560px;
  height: 320px;
  display: block;
}

/* Hero */
.hero {
  position: relative;
  background-image: url("../img/fondo-hero.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  padding-top: 6rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  padding: 2rem;
}

.hero h1 {
  font-size: 4rem;
  font-weight: bold;
}

.hero p {
  font-size: 1.5rem;
  margin: 1rem 0 2rem;
}

.hero .container {
  position: relative;
  z-index: 2;
}

/* Fondo con imagen y una capa oscura superpuesta en index tabs */
.tab-pane-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), var(--bg-image);
  background-size: cover;
  background-position: center;
}

/* Navbar Active Neon Effect */
.navbar-nav .nav-link.active {
  color: #fff8e7 !important;
  text-shadow:
    0 0 5px #fff8e7,
    0 0 10px #fff8e7,
    0 0 20px #fff8e7;
}

/* Botón flotante hasta arriba del todo*/
.bd-mode-toggle {
  z-index: 2000 !important;
}
